h1 {
    font-size: 25px;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.bannerText {
    font-size: 25px;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

img {
    float: right;
    width: 20%;
    margin-right: 20%;

}

.columnHeader {
    font-size: 25px;
    font-style: italic;
}


.column1 {
    float: left;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 40%;
    height: auto;
    display: block;
    padding: 20px;
    border-radius: 15px;
}

.column2 {
    float: right;
    background-color:rgb(255, 255, 255);
    margin: auto;
    width: 40%;
    height: auto;
    display: block;
    padding: 20px;
    border-radius: 15px;
}

.aboutMe {
    font-size: 18px;
}

.columnHeaderSmall {
    font-size: 20px;
}

#driversLicense {
    font-style:italic;
}